h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 70px;
}

.number-analytics-container {
    border: 1px solid black;
    border-radius: 8px;
    width: 160px;
    height: 140px;
    text-align: center;
    background-color: white;
    /* padding: 0 8px; */
}

.analytics-label {
    padding-top: 3px;
}

.analytics-value {
    font-weight: bold;
    font-size: 1.6em;
    height: 96px;
    line-height: 96px;
}

#number-analytics-section {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    column-gap: 1.2rem;
    background-color: rgba(175, 179, 186, 0.4);
    padding: 12px;
    margin-bottom: 5rem;
    width: fit-content;
}

.analytics-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 1.2rem;
}

.chart-container {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 80px;
}

.single-chart {
    /* width: 1120px !important;
    height: 630px !important; */
    width: 960px !important;
    height: 540px !important;
    margin-left: -80px;
}

.happiness-container {
    display: flex;
    position: relative;
    flex: 0 1 auto;
}

.happiness-chart {
    width: 400px !important;
    height: 300px !important;
}

.happiness-label {
    width: 40px;
    height: 20px;
    display: inline-block;
}

.awful {
    background-color: rgb(25, 25, 28);
}

.bad {
    background-color: rgb(212, 44, 6);
}

.unremarkable {
    background-color: rgb(110, 109, 135);
}


.good {
    background-color: rgb(20, 150, 20);
}

.great {
    background-color: rgb(65, 250, 228);
}


#happiness-section {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#happiness-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#happiness-charts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 12px;
    width: 1200px;
    margin-top: 20px;
    margin-left: -180px;
}

#content-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}